%h1 Sign Up
%hr

= simple_form_for @user do |f|
  = f.input :name
  = f.input :username
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  = f.button :submit, "Sign Up", :class => "button"