%div.row
  %div.small-12.columns
    %h1.page-title Time Entries for #{current_user.name}
    %hr
    %table.time-entries-table
      %tbody
        %thead
          %th Date
          %th Project
          %th Activity
          %th Hours Worked
          %th Show Entry
        -@time_entries.each do |entry|
          %tr
            %td= entry.date
            %td= entry.project.name
            %td= entry.activity.name
            %td= entry.hours_worked
            %td= link_to "Show Entry", user_time_entry_path(current_user, entry.id)
    = will_paginate @time_entries, renderer: BootstrapPagination::Rails
