%h1 Sign In
%hr

= simple_form_for @user, url: user_session_path do |f|
  = f.input :email
  = f.input :password
  = f.button :submit, "Sign In", :class => "button"

%hr
%h3 Forgot your password?
= render partial: 'forgot_password_form'