!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title TimeLogger
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "//www.google.com/jsapi"
    = javascript_include_tag 'chartkick.js'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

    = csrf_meta_tags
  %body
    %header
      %div.fixed
        %nav.top-bar
          %ul.title-area
            %li.name
              %h1
                =link_to "Time Logger", root_path
            %li.toggle-topbar.menu-icon
              %span Menu
          %section.top-bar-section
            %ul.right
              - if !logged_in?
                - unless controller_name == "user_sessions"
                  %li
                    = link_to "Sign In", new_user_session_path
              - else
                -if current_user.admin?
                  %li
                    =link_to "Activities", activities_path
                  %li
                    =link_to "Categories", categories_path
                  %li
                    =link_to "Clients", clients_path
                  %li
                    =link_to "Projects", projects_path
                -if !current_user.admin?
                  %li
                    =link_to "Show Time", user_time_entries_path(current_user)
                %li
                  =link_to "Log Time", new_user_time_entry_path(current_user)
                %li
                  =link_to "Sign Out", user_session_path, method: :delete
    %div.row
      %div.small-12.columns.main-section.container
        %section#content
        - flash.each do |key, message|
          %div{ class: "flash-#{key}" }= message
        %article= yield
