!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title TimeLogger
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "//www.google.com/jsapi"
    = javascript_include_tag 'chartkick.js'
    = csrf_meta_tags
  %body
    %header
      %nav
        %ul
          - if !logged_in?
            - unless controller_name == "users"
              %li= link_to "Sign Up", new_user_path
            - unless controller_name == "user_sessions"
              %li= link_to "Sign In", new_user_session_path
          - else
            %li= link_to "Home", root_path
            -if current_user.admin?
              %li=link_to "Reports", report_path
            %li=link_to "Log Time", new_user_time_entry_path(current_user.id)
            %li=link_to "Show Logged Time", user_time_entries_path(current_user)
            %li=link_to "Categories", categories_path
            %li=link_to "Clients", clients_path
            %li= link_to "Sign Out", user_session_path, method: :delete
    %p.notice= notice
    %p.alert= alert
    = yield
